<% content_for :css do %>
    <%= stylesheet_link_tag 'homes' %>
<% end %>
<h1>Smile Step</h1>

<div class="title-caption">
<p>各地の赤ちゃんやお子様の休憩スポットや遊び場を共有し合うコミュニケーションツールアプリです。</br>
お出かけするときのあの不安解消や、子供達が楽しめる新たな遊びスポットの発見をしましょう！</p>
</div>

<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "ログイン",  new_user_session_path %>
