<% content_for :css do %>
    <%= stylesheet_link_tag 'top' %>
<% end %>
<div class="top-container">
    <h1>Smiley Days</h1>

    <div class="title-caption">
        <p>赤ちゃんやお子様が休憩できるスポットや、遊び場を共有し合うコミュニケーションツールアプリです。</br>
        お出かけするときのあの不安解消や、子供達が楽しめる新たな遊びスポットの発見をしましょう！</p>
    </div>

    <div class="sign-btn">
        <%= link_to new_user_registration_path do %>
            <span>新規登録</span>
        <% end %>
        <%= link_to new_user_session_path do %>
            <span>ログイン</span>
        <% end %>
    </div>
</div>
