$cPink: #F7CBE8;
$cWhite: #ffffff;
$cBlack: #000000;
$cvPink: #F09BDD;
$lineGray: #C4BDBD;
$titleGray: #6C6C6C;
$pGray: #686868;
$cRed: #ff1100;
$circleWhite: #ffffff6e;
$cCountPink: #FF559D;
$placeholder: #cccccc;
$cbtnHover: #bdbdbd;