@import 'color';

    .tab-list{
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding: 0;
        .follow-tab, .follower-tab{
            width: 80%;
            padding: 10px;
            cursor: pointer;
            border-radius: 20px 20px 0 0;
            background-color: $cvPink;
            color: $cWhite;
            list-style: none;
            font-weight: bold;
            font-size: 24px;
        }
        .active{
            color: $cvPink;
            font-weight: bold;
            background-color: $cWhite;
            transition: all 0.2s ease-in-out;
            font-size: 24px;
        }
    }
    .follow-list, .follower-list{
        display: none;
    }
    .box-show{
        display: block;
        width: 85%;
        margin: 0 auto;
    }
