// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'color';

body{
    width: 100%;
    height: 100px;
    header{
        background-color: $cPink;
        color: $cWhite;
    }
}