@import 'color';
@import 'mq';

.mypage-contents{
    width: 80%;
    margin: 100px auto;
    text-align: center;
    @include mq(smp){
        width: 95%;
    }
    h1{
        display: inline-block;
        position: relative;
        color: $cWhite;
        font-size: 42px;
        width: 35%;
        border-bottom: solid 3px $cWhite;
        margin: 0 auto 50px;
        padding-bottom: 10px;
        @include mq(smp){
            width: 80%;
            font-size: 32px;
            margin-bottom: 50px;
        }
    }
    h2{
        color: $cWhite;
        font-size: 34px;
    }
    .circle-btn{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: $cWhite;
        margin: 0 auto 50px;
        @include mq(smp){
            width: 95%;
            justify-content: space-around;

        }
        p{
            font-size: 18px;
            font-weight: bold;
            @include mq(smp){
                font-size: 10px;
            }
        }
        a{
            cursor: pointer;
            text-decoration: none;
            color: $cWhite;
            cursor: pointer;
            &:hover{
                cursor: pointer;
                opacity: 0.65;
            }
            i{
                display: flex;
                width: 80px;
                height: 80px;
                margin: 0 auto;
                font-size: 28px;
                background: $circleWhite;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                @include mq(smp){
                    width: 65px;
                    height: 65px;
                    font-size: 21px;
                }
            }

        }
        .new-post{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;

        }
        .user-prof-image{
            width: 50%;
            @include mq(smp){
                width: 40%;
            }
            img{
                width: 300px;
                height: 300px;
                border-radius: 50%;
                border: solid 1px $lineGray;
                @include mq(smp){
                    width: 135px;
                    height: 135px;
                }
            }
        }
        .prof-edit{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
        }
    }
    .introduction{
        color: white;
        font-size: 21px;
        font-weight: bold;
        @include mq(smp){
            font-size: 16px;
        }
    }
    .select-btn{
        display: flex;
        width: 70%;
        justify-content: space-between;
        margin: 70px auto 200px;
        @include mq(smp){
            width: 90%;
        }
        a{
            display: inline-block;
            width: 20%;
            color: $cWhite;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                cursor: pointer;
                opacity: 0.65;
            }
            span{
                display: flex;
                width: 80px;
                height: 80px;
                margin: 0 auto;
                font-size: 28px;
                background: $circleWhite;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                @include mq(smp){
                    width: 65px;
                    height: 65px;
                }
            }
            .about-icon{
                font-size: 18px;
                font-weight: bold;
                @include mq(smp){
                    font-size: 10px;
                }
            }
        }
    }
    .unsubscribe-btn{
        display: flex;
        width: 190px;
        height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin: 0 auto;
        background-color: $cvPink;
        color: $cWhite;
        font-size: 20px;
        border: none;
        font-weight: bold;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
        transition: all .3s ease;
        text-align: center;
        text-decoration: none;
        &:hover{
            box-shadow: none;
            background-color: $cWhite;
            color: $cvPink;
            transition: all .3s ease;
            transform: translateY(-2px),translateZ(-2px);
            cursor: pointer;
        }
    }
}