// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "color";



    .post-show-container{
        text-align: center;
        h2{
            color: $cWhite;
            text-align: center;
            padding-top: 50px;
            font-size: 48px;
            border-bottom: solid 3px;
            margin-bottom: 100px;
            width: 150px;
            height: 70px;
            display: inline-block;
        }
        .contents-all{
            border-radius: 5px;
            display: block;
            width: 80%;
            margin: 0 auto;
            .post-show{
                display: block;
                width: 100%;
                margin: 0 auto;
                background-color: $cWhite;
                text-align: start;
                border-radius: 30px 30px 0 0;
                .user-info{
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                    margin: 0 auto 50px;
                    padding-top: 30px;
                    .about-user{
                        a{
                            text-decoration: none;
                            font-size: 32px;
                            font-weight: bold;
                            color: $cBlack;
                            display: flex;
                            align-items: center;
                            img{
                                width: 60px;
                                height: 60px;
                                border-radius: 50px;
                                border: solid 1px $lineGray;
                                margin-right: 15px;
                            }
                        }
                    }
                    .follow-btn{
                        a{
                            display: block;
                            width: 190px;
                            height: 50px;
                            border-radius: 50px;
                            background-color: $cvPink;
                            color: $cWhite;
                            font-size: 20px;
                            border: none;
                            font-weight: bold;
                            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
                            transition: all .3s ease;
                            text-align: center;
                            text-decoration: none;
                            span{
                                display: flex;
                                height: 100%;
                                align-items: center;
                                justify-content: center;
                            }
                            &:hover{
                                box-shadow: none;
                                transform: translateY(-2px),translateZ(-2px);
                                cursor: pointer;
                            }
                        }
                    }
                    .post-edit-icon{
                        a{
                            font-size: 24px;
                            color: $cvPink;
                        }
                    }
                }
                .post-detail{
                    width: 80%;
                    margin: 0 auto;
                    color: $pGray;
                    padding-bottom: 50px;
                    img{
                        display: block;
                        width: 100%;
                        height: auto;
                        margin: 0 auto;
                        border-radius: 30px;
                    }
                    p.spot-type-name{
                        color: $cvPink;
                        font-size: 28px;
                    }
                    h3{
                        font-size: 28px;
                        margin-bottom: 5px;
                    }
                    p{
                        font-size: 20px;
                    }
                    .create-date{
                        display: block;
                        font-size: 14px;
                        margin-top: 70px;
                    }
                }
            }

            .favo-comment{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 60px;
                background-color: $cWhite;
                font-size: 24px;
                border-top: solid 2px $lineGray;
                border-bottom: solid 2px $lineGray;
                .fc-count{
                    display: flex;
                    width: 40%;
                    .about-favo{
                        margin: auto 0 auto 10%;
                            a{
                                font-size: 24px;
                                text-decoration: none;
                                color: $pGray;
                            }
                            span{
                                display: inline-block;
                                font-weight: bold;
                            }
                    }
                    .about-comment{
                        display: flex;
                        align-items: center;
                        margin-left: 30px;
                        cursor: pointer;
                        z-index: 0;
                    }
                    p{
                        color: $pGray;
                        font-weight: bold;
                    }
                }
                .trush-box{
                    margin: auto 10%;
                }
            }
            .comment-index{
                display: inline-block;
                background-color: $cWhite;
                width: 100%;
                text-align: start;
                border-radius: 0 0 30px 30px;
                .comment-head{
                    display: flex;
                    width: 80%;
                    margin: 0 auto;
                    justify-content: space-between;
                    align-items: center;
                    .comment-user{
                        display: flex;
                        font-size: 24px;
                        align-items: center;
                        img{
                            width: 60px;
                            height: 60px;
                        }
                        h5{
                            margin-bottom: 20px;
                        }
                    }
                    i{
                        font-size: 36px;
                        color: $titleGray;
                    }

                }
                p{
                    padding-left: 10%;
                    margin: 0 0 40px 0;
                }
                span{
                    display: block;
                    width: 100%;
                    border-top: solid 2px $lineGray;
                    &:last-child{
                        border-top: none;
                    }
                }
            }
            .no-comment{
                display: inline-block;
                background-color: $cWhite;
                width: 100%;
                border-radius: 0 0 30px 30px;
                h4{
                    text-align: center;
                    color: $titleGray;
                }
            }
        }
    }

.modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, .2);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    .modal-contents{
        position: absolute;
        margin-right: auto;
        margin-left: auto;
        width: 40%;
        height: 450px;
        background-color: $cWhite;
        padding: 10px;
        border-radius: 20px;
        min-width: 500px;
        .modal-for-user{
            display: flex;
            justify-content: space-between;
            margin: 10px;
            h4{
                font-size: 21px;
                color: $titleGray;
            }
            i{
                color: $cvPink;
                font-size: 36px;
                margin-right: 20px;
                cursor: pointer;
                z-index: 3;
            }
        }
        .modal-inner-comment{
            border-top: solid 2px $lineGray;
            border-bottom: solid 2px $lineGray;
            width: 80%;
            height: 40%;
            margin: 0 auto;
            form{
                height: 100%;
            }
            .comment-form{
                display: flex;
                height: 100%;
                img{
                    width: 50px;
                    height: 50px;
                    margin-top: 5px;
                    border-radius: 50px;
                }
                textarea{
                    resize: none;
                    width: 80%;
                    padding-left: 25px;
                }
                .comment-area{
                    border: none;
                    display: block;
                    width: 80%;
                }
            }
        }
        .cmt-submit{
            position: relative;
            .cmt-btn{
                display: flex;
                justify-content: center;
                width: 190px;
                height: 50px;
                border-radius: 50px;
                background-color: $cvPink;
                color: $cWhite;
                font-size: 18px;
                border: none;
                font-weight: bold;
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
                transition: all .3s ease;
                margin: 20px auto;
                cursor: pointer;
                &:hover{
                    box-shadow: none;
                    transform: translateY(-2px),translateZ(-2px);
                    background-color: $cWhite;
                    border: solid 0.5px $lineGray;
                    color: $cvPink;
                    transition: all .3s ease;
                    cursor: pointer;
                }
            }
        }
    }
}
.mask-comment{
    display: block;
    background-color: rgba(0,0,0, .2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
}