@import 'color';
@import 'mq';

.sign-up-contents{
    width: 60%;
    margin: 0 auto;
    @include mq(smp){
        width: 70%;
    }
    h2{
        color: $cWhite;
        font-size: 42px;
        text-align: start;
        margin-bottom: 100px;
        @include mq(smp){
            font-size: 28px;
            margin-bottom: 50px;
        }
    }
    .signup-form{
        width: 85%;
        margin: 0 auto;
        text-align: center;
        #error_explanation{
            width: 120%;
            .error-count{
                color: $cRed;
                font-weight: bold;
                text-align: start;
            }
            ul{
                padding-left: 5px;
                text-align: start;
                color: $pGray;
                font-size: 14px;
            }
        }
        .field{
            text-align: start;
            margin-bottom: 50px;
            @include mq(smp){
                margin-bottom: 20px;
            }
            label{
                color: $cWhite;
                font-size: 21px;
                font-weight: bold;

            }
            input{
                width: 100%;
                height: 50px;
                border: none;
                border-radius: 10px;
                @include mq(smp){
                    height: 40px;
                }
            }
            em{
                color: $cWhite;
                font-style: normal;
            }
        }
        .actions{
            color: white;
            background: $cvPink;
            width: 300px;
            height: 80px;
            margin-top: 50px;
            font-size: 21px;
            font-weight: bold;
            border: none;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
            border-radius: 50px;
            transition: all .3s ease;
            @include mq(smp){
                width: 200px;
                height: 60px;
            }

            &:hover{
                box-shadow: none;
                transform: translateY(-2px),translateZ(-2px);
                background-color: $cWhite;
                color: $cvPink;
                transition: all .3s ease;
                cursor: pointer;
            }
        }
    }
    .announce{
        display: block;
        text-align: center;
        margin-bottom: 300px;
        a{
            display: inline-block;
            text-decoration: none;
            color: $cCountPink;
            font-weight: bold;
            margin-top: 30px;
            @include mq(smp){
                font-size: 16px;
            }
            &:hover{
                opacity: 0.7;
                text-decoration: underline;
            }
    }
    }
}