@import 'color';

.top-container{
    color: $cWhite;
    h1{
        font-size: 68px;
        font-weight: bold;
        letter-spacing: 3px;
        -webkit-text-stroke: 4px $cvPink;
    }
    .title-caption{
        margin-top: 50px;
        margin-bottom: 150px;
        p{
            font-size: 21px;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
    .sign-btn{
        a{
            display: block;
            width: 190px;
            height: 50px;
            margin: 0 auto 50px;
            border-radius: 50px;
            background-color: $cvPink;
            color: $cWhite;
            font-size: 20px;
            border: none;
            font-weight: bold;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
            transition: all .3s ease;
            text-align: center;
            text-decoration: none;
            span{
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
            }
            &:hover{
                box-shadow: none;
                transform: translateY(-2px),translateZ(-2px);
                background-color: $cWhite;
                color: $cvPink;
                cursor: pointer;
            }
        }
    }
}
