@import 'color';
@import 'mq';

.user-edit-contents{
    h1{
        color: $cWhite;
        font-size: 48px;
        display: block;
        width: 50%;
        margin: 50px auto 100px;
        border-bottom: solid 3px $cWhite;
        text-align: center;
        @include mq(smp){
            font-size: 28px;
            width: 60%;
        }
    }
    .error-contents{
        display: block;
        width: 60%;
        margin: 30px auto 0;
        @include mq(smp){
            width: 80%;
        }
        .error-count{
            color: $cRed;
            font-weight: bold;
        }
        ul{
            padding-left: 5px;
            text-align: start;
            color: $pGray;
            font-size: 14px;
        }
    }
    .edit-form{
        width: 50%;
        margin: 0 auto;
        @include mq(smp){
            width: 90%;
        }
        .form-group{
            width: 80%;
            text-align: start;
            margin: 0 auto 50px;
            label{
                display: block;
                color: $cWhite;
                font-size: 34px;
                font-weight: bold;
                @include mq(smp){
                    font-size: 24px;
                }
            }
            input{
                width: 100%;
                height: 50px;
                border: none;
                border-radius: 10px;
                font-size: 18px;
                color: $pGray;
                padding-left: 5px;
                @include mq(smp){
                    font-size: 14px;
                }
            }
            textarea{
                resize: none;
                width: 100%;
                height: 100px;
                border: none;
                border-radius: 10px;
                font-size: 18px;
                color: $pGray;
                padding-left: 5px;
                @include mq(smp){
                    font-size: 14px;
                }
            }
        }
        .form-submit{
            margin: 150px auto 0;
            input{
                display: flex;
                justify-content: center;
                width: 190px;
                height: 50px;
                border-radius: 50px;
                background-color: $cvPink;
                color: $cWhite;
                font-size: 18px;
                border: none;
                font-weight: bold;
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
                transition: all .3s ease;
                margin: 20px auto;
                &:hover{
                    box-shadow: none;
                    transform: translateY(-2px),translateZ(-2px);
                    background-color: $cWhite;
                    color: $cvPink;
                    transition: all .3s ease;
                    cursor: pointer;
                }
            }
        }
        .back-btn{
            display: flex;
            justify-content: center;
            width: 190px;
            height: 50px;
            border-radius: 50px;
            background-color: $cWhite;
            font-size: 18px;
            border: none;
            font-weight: bold;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
            transition: all .3s ease;
            margin: 20px auto 300px;
            a{
                color: $cBlack;
                margin: auto;
                text-decoration: none;
            }
            &:hover{
                box-shadow: none;
                transform: translateY(-2px),translateZ(-2px);
                background-color: $cbtnHover;
                transition: all .3s ease;
                cursor: pointer;
            }
        }
    }
}